*.iml
.DS_Store
*.xml
*.xlsm
*.pyc
*.csv
djix.txt
*.pdf
*.jpg
.ipynb_checkpoints/loadExcel-checkpoint.py
.ipynb_checkpoints/Model-checkpoint.ipynb
.ipynb_checkpoints/Model-checkpoint.py
.ipynb_checkpoints/PortfolioTest-checkpoint.ipynb
.ipynb_checkpoints/PortfolioTest-checkpoint.py
Finished Tests/.ipynb_checkpoints/PortfolioTest(1000est, 5min_leaf)-checkpoint.ipynb
Finished Tests/.ipynb_checkpoints/notebook-checkpoint.tex
Finished Tests/.ipynb_checkpoints/output_26_2-checkpoint.png
Finished Tests/notebook.tex
PortfolioTest(1000:est, 5:min_leaf).ipynb
Finished Tests/output_26_2.png
