asn1crypto==0.24.0
cchardet==1.1.3
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.2.2
cycler==0.10.0
datapackage==1.2.6
DateTime==4.2
et-xmlfile==1.0.1
holidays==0.9.5
idna==2.6
ijson==2.3
inflection==0.3.1
isodate==0.6.0
jdcal==1.4
jsonlines==1.2.0
jsonpointer==1.14
jsonschema==2.6.0
kiwisolver==1.0.1
linear-tsv==1.1.0
matplotlib==2.2.2
more-itertools==4.2.0
mysql-connector-python-rf==2.2.2
ndg-httpsclient==0.5.0
numpy==1.14.4
openpyxl==2.4.11
pandas==0.23.0
pyasn1==0.4.3
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
Quandl==3.3.0
requests==2.18.4
rfc3986==1.1.0
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.8
tableschema==1.1.0
tabulator==1.14.0
unicodecsv==0.14.1
urllib3==1.24.2
xlrd==1.1.0
zope.interface==4.5.0
